# Match USB storage devices (sd* partitions) - trigger on add/remove
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]*", ACTION=="add", RUN+="/usr/sbin/usb-storage-handler.sh add %k"
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]*", ACTION=="remove", RUN+="/usr/sbin/usb-storage-handler.sh remove %k"
