[Unit]
Description=finger-paint-demo
After=systemd-himaxtouch.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/S61FingerpaintDemo start
ExecStop=/etc/init.d/S61FingerpaintDemo stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
