[Unit]
Description=qt-pinchzoom-demo
Requires=systemd-himaxtouch.service
After=systemd-himaxtouch.service

[Service]
Environment="QT_QPA_FONTDIR=/usr/share/fonts/dejavu/"
ExecStart=/usr/lib/qt/examples/widgets/touch/pinchzoom/pinchzoom

[Install]
WantedBy=multi-user.target
