[Unit]
Description=qt-fingerpaint-demo
Requires=systemd-himaxtouch.service
After=systemd-himaxtouch.service

[Service]
Environment="QT_QPA_FONTDIR=/usr/share/fonts/dejavu/"
ExecStart=/usr/lib/qt/examples/widgets/touch/fingerpaint/fingerpaint

[Install]
WantedBy=multi-user.target
